@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4e71ff;
  --color-hover: #5409da;

  --breakpoint-xs: 28rem;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
